<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>@Title</title>
    <link rel="icon" type="image/png" href="@Properties["root"]/img/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="@Description"/>
    <meta name="author" content="@Properties["project-author"]"/>

    <script src="https://code.jquery.com/jquery-1.8.0.js"></script>
    <script src="https://code.jquery.com/ui/1.8.23/jquery-ui.js"></script>
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet"/>

    <link type="text/css" rel="stylesheet" href="@Root/content/style.css" />
    <script type="text/javascript" src="@Root/content/tips.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style type="text/css">
      table.pre td.lines {
        vertical-align: top;
      }
      pre.fssnip code[lang=batchfile],
      pre.fssnip code[lang=msh] {
        display: inline-block;
        white-space: pre-wrap;       /* CSS 3 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
        word-break: keep-all;
        padding-left: 2em;
        text-indent: -2em;
      }
    </style>
    <script type="text/javascript">
      $(function() {
        $("code[lang='batchfile'], code[lang='msh']").each(function() {
          $(this).html($(this).html().replace(/ &lt;/g, "&nbsp;&lt;"))
        })
      })
    </script>
  </head>
  <body>
    <div class="container">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="@Properties["project-github"]">github page</a></li>
        </ul>
        <h3 class="muted"><a href="@Root/index.html">@Properties["project-name"]</a></h3>
      </div>
      <hr />
      <div class="row">
        <div class="span9" id="main">
          @RenderBody()
        </div>
        <div class="span3">
          <img src="@Root/img/logo.png" alt="F# Project" style="width:150px;margin:10px" />
          <ul class="nav nav-list" id="menu" style="margin-top: 20px;">
            <li class="nav-header">@Properties["project-name"]</li>
            <li><a href="@Root/index.html">Home page</a></li>
            <li><a href="@Root/get-started.html">Get started</a></li>
            <li><a href="@Root/learn-how-to-use-paket.html">Learn how to use paket</a></li>
            <li><a href="@Root/convert-from-nuget-tutorial.html">Convert from legacy NuGet</a></li>
            <li><a href="@Root/paket-and-dotnet-cli.html">Paket with .NET SDK</a></li>
            <li><a href="@Root/faq.html">FAQ</a></li>
            <li><a href="@Root/release-notes.html">Release Notes</a></li>
            <li><a href="@Root/contact.html">Contact</a></li>
            <li><a href="@Root/testimonials.html">Testimonials</a></li>
            <li><a href="@Root/license.html">License</a></li>
            <li><a href="@Root/glossary.html">Glossary</a></li>

            <li class="nav-header">Download Paket</li>
            <li><a href="@Properties["project-nuget"]" target="_blank">From NuGet</a></li>
            <li><a href="https://github.com/fsprojects/Paket/releases/latest" target="_blank">From GitHub</a></li>

            <li class="nav-header">GitHub</li>
            <li><a href="@Properties["project-github"]" target="_blank">Source Code on GitHub</a></li>
            <li><a href="@Properties["project-github"]/issues" target="_blank">Report an issue</a></li>

            <li class="nav-header">Documentation</li>
            <li><a href="@Root/dependencies-file.html">paket.dependencies</a></li>
            <li><a href="@Root/lock-file.html">paket.lock</a></li>
            <li><a href="@Root/references-files.html">paket.references</a></li>
            <li><a href="@Root/template-files.html">paket.template</a></li>
            <li><a href="@Root/local-file.html">paket.local</a></li>
            <li><a href="@Root/paket-folder.html">.paket folder</a></li>
            <li><a href="@Root/bootstrapper.html">paket.bootstrapper.exe</a></li>
            <li class="divider"></li>
            <li><a href="@Root/resolver.html">Package resolution algorithm</a></li>
            <li><a href="@Root/groups.html">Dependency Groups</a></li>
            <li><a href="@Root/caches.html">Additional Caches</a></li>
            <li><a href="@Root/nuget-dependencies.html">NuGet dependencies</a></li>
            <li><a href="@Root/git-dependencies.html">Git dependencies</a></li>
            <li><a href="@Root/github-dependencies.html">GitHub dependencies</a></li>
            <li><a href="@Root/http-dependencies.html">HTTP dependencies</a></li>
            <li><a href="@Root/analyzers.html">Analyzers</a></li>
            <li class="divider"></li>
            <li><a href="@Root/installation.html">Installation</a></li>
            <li><a href="@Root/reference-from-repl.html">Using Paket from F# Interactive</a></li>
            <li><a href="@Root/fsi-integration.html">F# Interactive integration</a></li>
            <li><a href="@Root/editor-support.html">Editor support</a></li>
            <li><a href="@Root/shell-completion.html">Shell completion</a></li>
            <li><a href="@Root/credential-providers.html">Credential Providers</a></li>
            <li class="divider"></li>
            <li><a href="@Root/reference/index.html">API Reference</a></li>

            <li class="nav-header">Paket commands</li>
            <li><a href="@Root/paket-add.html">paket add</a></li>
            <li><a href="@Root/paket-auto-restore.html">paket auto-restore</a></li>
            <li><a href="@Root/paket-clear-cache.html">paket clear-cache</a></li>
            <li><a href="@Root/paket-config.html">paket config</a></li>
            <li><a href="@Root/paket-convert-from-nuget.html">paket convert-from-nuget</a></li>
            <li><a href="@Root/paket-find-refs.html">paket find-refs</a></li>
            <li><a href="@Root/paket-find-packages.html">paket find-packages</a></li>
            <li><a href="@Root/paket-find-package-versions.html">paket find-package-versions</a></li>
            <li><a href="@Root/paket-generate-load-scripts.html">paket generate-load-scripts</a></li>
            <li><a href="@Root/paket-info.html">paket info</a></li>
            <li><a href="@Root/paket-init.html">paket init</a></li>
            <li><a href="@Root/paket-install.html">paket install</a></li>
            <li><a href="@Root/paket-outdated.html">paket outdated</a></li>
            <li><a href="@Root/paket-pack.html">paket pack</a></li>
            <li><a href="@Root/paket-push.html">paket push</a></li>
            <li><a href="@Root/paket-remove.html">paket remove</a></li>
            <li><a href="@Root/paket-restore.html">paket restore</a></li>
            <li><a href="@Root/paket-simplify.html">paket simplify</a></li>
            <li><a href="@Root/paket-show-groups.html">paket show-groups</a></li>
            <li><a href="@Root/paket-show-installed-packages.html">paket show-installed-packages</a></li>
            <li><a href="@Root/paket-update.html">paket update</a></li>
            <li><a href="@Root/paket-why.html">paket why</a></li>
            <li><a href="@Root/paket-restriction.html">paket restriction</a></li>
          </ul>
        </div>
      </div>
    </div>
    <a href="@Properties["project-github"]"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"/></a>
  </body>
</html>
